
body {
}

#background {
  background: white;
  position: fixed;
  z-index: -1;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

p {
  color: black
  background-color: #fff1f0;
  margin: 35px
  padding: 10px

}
